html
    padding: 0
    margin: 0

body
    background-color: white
    color: black    

form
    font-size: 24px
    display: flex
    flex-direction: column
    max-width: 500px

button
    min-height: 50px
    color: white
    background-color: blue
    border: none
    font-size: 18px

button:hover
    background-color: red
    transition: 0.2s


label, legend
    font-weight: 600

.wrapper
    display: flex
    flex-direction: column
    border: 2px solid white
    padding: 20px
    min-width: 350px

input
    margin: 10px 0px 10px 0px
    border-radius: 4px
    min-height: 20px
    border: 1px solid black


fieldset
    margin-bottom: 10px
    display: inherit
    flex-direction: row
    align-items: center
    input[type="radio"]
        margin: 0px 5px 0px 5px

textarea
    min-width: 350px