$colorblue: rgb(87, 113, 255)
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap')

body
    font-family: "Jaro"
    font-weight: 100
    font-size: 24px
    margin: 0
    padding: 0

.wrapper
    display: flex
    flex-direction: column
    max-width: 800px
    margin: auto

section
    background-color: rgb(87, 113, 255)
    color: white
    margin-top: 30px
    padding: 24px
    border-radius: 15px
    p
        font-size: 1.1rem
    h1
        font-size: 2rem

.navigation
    position: relative
    padding: 1em
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $colorblue
    color: white
    li
        list-style: none
    a
        text-decoration: none
        color: white